/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

main{
    background-color: black;
    position:relative;
    height: 100vh;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
}

.cameras-col{
    width: calc((90% / 7));
}

.big-f-col{
    width: calc((100% / 12) * 9 );
}

.small-f-col{
    width: calc((100% / 12) * 2 );
}
.small-f-col2{
    width: calc((100% / 12) * 1 );
}

.mini-col{
    width: ((100% / 12) * 3);
}

.minimini-col{
    width: (100% / 9);
}

.button{
    background-color: transparent;
    border: 0px;
}

/* 
    CAMERAS
*/

.cameras.my-row{
    justify-content: center; 
    align-items: center; 
    padding-top: 50px;
}

.user{
    position: relative;
}

.user-image{
    width: 100%;
    display: block;
    height: 100px;
    padding: 5px;
}

.user .user-name{
    color: white;
    background-color: rgba(211, 211, 211, 0.25);
    display: inline-block;
    padding: 2px;
    font-size: 0.7em;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.cameras-col{
    border: 1px solid black;
}
.cameras-col:hover{
    border: 1px solid rgba(255, 255, 255, 0.541);
    background-color: rgba(255, 255, 255, 0.281);
}
/* 
    TOP CONTROLS
*/

.top-controls{
    position: absolute;
    top: 10px;
    right: 5px;
    visibility: hidden;
    transition: all 1s;
}

*:hover .top-controls{
    visibility: visible;
}

.top-controls span{
    margin: 0 5px;
    background-color: #3d3d3d;
    padding: 5px;
    color: white;
    border: 1px solid #3d3d3d;
    border-radius: 5px;

}

.top-controls span:hover{
    border: 1px solid white;
}
/* 
    CONTROLS
*/

.controls{
    height: 60px;
    width: 100%;
    background-color: #222222;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: all 1s;
}

*:hover .controls{
    visibility: visible;
}

.controls .button {
    color: white;
}

.mini-flex{
    display: flex;
    align-items: center;
}

.button-icon > i{
    font-size: 1.7em;
    margin-bottom: 5px;
    line-height: 20px;
}

.button .fa-chevron-up{
    padding-bottom: 10px;
}

.mini-col > button{
    padding: 10px 10px 5px 10px;
    border: 1px solid #222222;
    border-radius: 5px;
}

.mini-col > button:hover{
    background-color: #3d3d3d;
    border: 1px solid white;  
}

.big-f-col .mini-flex{
    justify-content: center;
}

.big-f-col{
    text-align: center;
}

.green-icon > i{
    color: rgb(22, 235, 22);
}

.big-f-col  button{
    padding: 10px 5px 0px 5px;
    border: 1px solid #222222;
    border-radius: 5px;
}

.big-f-col  button:hover{
    background-color: #3d3d3d;
    border: 1px solid white;  
}

.small-f-col2{
    text-align: right;
}

.small-f-col2 div{
    color: red;
    margin-top: 20px;
    margin-right: 10px;
}

.small-f-col2:hover{
    background-color: #3d3d3d;
    color:red;
    text-decoration: underline;
    cursor: pointer;
}
