/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

main{
    background-color: black;
    position:relative;
    height: 100vh;
}
.my-row{
    display: flex;
    flex-wrap: wrap;
}

.cameras-col{
    width: calc((90% / 7));
}

.big-f-col{
    width: calc((100% / 12) * 8 );
}

.small-f-col{
    width: calc((100% / 12) * 2 );
}

.button{
    background-color: transparent;
    border: 0px;
}
/* 
    CAMERAS
*/

.cameras.my-row{
    justify-content: center; 
    align-items: center; 
    padding-top: 50px;
}

.user{
    position: relative;
}

.user-image{
    width: 100%;
    display: block;
    height: 100px;
    padding: 5px;
}

.user .user-name{
    color: white;
    background-color: rgba(211, 211, 211, 0.25);
    display: inline-block;
    padding: 2px;
    font-size: 0.7em;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

/* 
    CONTROLS
*/

.controls{
    height: 60px;
    width: 100%;
    background-color: #222222;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button.my-row{
    align-items: center;
    justify-content: space-between;
    max-width: 70px;
}

.controls .button {
    color: white;
}
.controls .button > div{
    display: inline-block;
}

.controls .button > div i{
    font-size: 1.5em;
}
